ServiceModel/src/main/resources/RATService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#${buildNumber}. -->
<definitions targetNamespace="http://RATService/" name="RATService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://RATService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://RATService/" schemaLocation="RATService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getProcesses">
    <part name="parameters" element="tns:getProcesses"/>
  </message>
  <message name="getProcessesResponse">
    <part name="parameters" element="tns:getProcessesResponse"/>
  </message>
  <message name="takeScreenshot">
    <part name="parameters" element="tns:takeScreenshot"/>
  </message>
  <message name="takeScreenshotResponse">
    <part name="parameters" element="tns:takeScreenshotResponse"/>
  </message>
  <message name="reboot">
    <part name="parameters" element="tns:reboot"/>
  </message>
  <message name="rebootResponse">
    <part name="parameters" element="tns:rebootResponse"/>
  </message>
  <portType name="RAT">
    <operation name="getProcesses">
      <input wsam:Action="http://RATService/RAT/getProcessesRequest" message="tns:getProcesses"/>
      <output wsam:Action="http://RATService/RAT/getProcessesResponse" message="tns:getProcessesResponse"/>
    </operation>
    <operation name="takeScreenshot">
      <input wsam:Action="http://RATService/RAT/takeScreenshotRequest" message="tns:takeScreenshot"/>
      <output wsam:Action="http://RATService/RAT/takeScreenshotResponse" message="tns:takeScreenshotResponse"/>
    </operation>
    <operation name="reboot">
      <input wsam:Action="http://RATService/RAT/rebootRequest" message="tns:reboot"/>
      <output wsam:Action="http://RATService/RAT/rebootResponse" message="tns:rebootResponse"/>
    </operation>
  </portType>
  <binding name="RATPortBinding" type="tns:RAT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getProcesses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="takeScreenshot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="reboot">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RATService">
    <port name="RATPort" binding="tns:RATPortBinding">
      <soap:address location="http://localhost:9000/rat"/>
    </port>
  </service>
</definitions>

